@import "tailwindcss";



@custom-variant dark (&:is(.dark *));

:root {
  /* Rosé Pine Dawn */
  --background: #faf4ed;        /* base */
  --foreground: #575279;        /* text */

  --primary: #907aa9;            /* iris */
  --primary-foreground: #faf4ed;

  --secondary: #fffaf3;          /* surface */
  --secondary-foreground: #575279;

  --muted: #f2e9e1;              /* overlay */
  --muted-foreground: #797593;   /* subtle */

  --accent: #56949f;             /* foam */
  --accent-foreground: #faf4ed;

  --border: #dfdad9;             /* highlight med */
  --input: #f4ede8;              /* highlight low */
  --ring: #907aa9;               /* iris */

  --radius: 0.625rem;

  --destructive: #b4637a;        /* love */
  --destructive-foreground: #faf4ed;
}

.dark {
  /* Rosé Pine (Main) */
  --background: #191724;         /* base */
  --foreground: #e0def4;         /* text */

  --primary: #c4a7e7;             /* iris */
  --primary-foreground: #191724;

  --secondary: #1f1d2e;           /* surface */
  --secondary-foreground: #e0def4;

  --muted: #26233a;               /* overlay */
  --muted-foreground: #908caa;    /* subtle */

  --accent: #9ccfd8;              /* foam */
  --accent-foreground: #191724;

  --border: #403d52;              /* highlight med */
  --input: #21202e;               /* highlight low */
  --ring: #c4a7e7;                /* iris */

  --destructive: #eb6f92;         /* love */
  --destructive-foreground: #191724;
}


@theme inline {
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html {
  scroll-behavior: smooth;
}