---
interface Props {
    nav: { path: string; text: string }[];
}

const { nav } = Astro.props as Props;
---

<header class="p-8 flex items-center justify-between flex-col md:flex-row fixed top-0 left-1/2 -translate-x-1/2 bg-background z-40">
    <div class="flex items-center gap-5">
        {
            nav.map((item) => (
                <a
                    class="opacity-70 transition-all duration-200 hover:opacity-100 text-[1rem] md:text-[0.85rem]"
                    href={item.path}
                >
                    {item.text}
                </a>
            ))
        }
    </div>
    <!-- <div class="absolute -bottom-10 left-0 w-full h-18  pointer-events-none bg-linear-to-b from-background via-background/80 to-background/0 z-10"></div> -->
</header>
