---
import type { Hero } from "@/src/content";

interface Props extends Hero {
    name: string;
}

const { name, title, paragraphs } = Astro.props as Props;
const [first, ...rest] = paragraphs;
---

<section class="mb-10 mt-50">
    <h1 id="about" class="sticky top-20 z-30 bg-background mb-4 py-2 font-semibold text-xl scroll-mt-50">{name}</h1>
    <div class="[&_p]:mb-6 leading-7">
        <p>
            <span class="text-primary">{title} </span>
            <span class="opacity-50">{first}</span>
        </p>
        {rest.map((p) => <p class="opacity-50">{p}</p>)}
    </div>
</section>
